body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    background-color: white;
    padding: 2px;
    width: 100%;
    /* position: fixed; */
    z-index: 1000;
}

.navbar .logo-container {
    display: flex;
    align-items: center;
    margin: 0;
}

.navbar .logo-container img {
    margin-right: 10px;
    height: 70px;
}

.navbar ul {
    list-style: none;
    margin: 5px;
    padding: 0;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.navbar ul li {
    margin-left: 10px;
    margin-top: 8px;
}

.navbar ul li a {
    text-decoration: none;
    padding: 10px;
    font-size: 19px;
    color: grey;
    font-weight: bolder;
    transition: all 300ms ease-in-out;
}

.navbar ul li a:hover {
    border-radius: 10px;
    color: black;
    background-color: white;
    box-shadow: 0px 3px 3px grey;
}

.icon-container {
    display: flex;
    align-items: center;
    top: 10px;
    right: 10px;
}

.icon-container i {
    margin: 10px;
    font-size: 25px;
    color: black;
    padding: 10px;
}

.navbar .icon-container a:hover {
    border-radius: 10px;
    color: black;
    background-color: white;
    box-shadow: 0px 3px 3px grey;
}
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

.heading {
    font-family: "Poppins", sans-serif;
    /* border: 1px solid red; */
    background-color: rgb(111, 177, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.heading h1{
    margin-top: 0;  
    /* border: 1px solid red; */

}
.container {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh; /* Adjust as needed */
}

.quotes {
    /* border: 1px solid red; */
    display: inline-block;
    text-align: center; /* Optional, for text alignment within the quotes box */
}
